<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start" style="font-size: 27px!important;">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" class="btn-left">
            <ion-back-button text="" icon="chevron-back-outline" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'MENU.APPLY_FOR_LEAVES' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form action="" method="POST" [formGroup]="form" (ngSubmit)="submitLeave()">

        <div class="ion-padding">
            <ion-list>

                <ion-radio-group formControlName="leave_type" (ionChange)="leaveTypeData($event)">
                    <h4>{{'LEAVE_REQUEST.LEAVE_TYPE' | translate}}</h4>
                    <ion-item class="ion-no-padding" *ngFor="let option of leaveType">
                        <ion-label>{{option.label | translate}}</ion-label>
                        <ion-radio slot="start" [value]="option.value" mode="md"></ion-radio>
                    </ion-item>
                </ion-radio-group>

                <div class="form-group xxx" *ngIf="special_leave">
                    <ion-select interface="popover" placeholder="{{'LEAVE_REQUEST.SLECIAL_LEAVE_REASON' | translate}}" formControlName="special_leave_reason">
                        <ion-select-option value="Eheschließung eines Kindes">Eheschließung eines Kindes</ion-select-option>
                        <ion-select-option value="Umzug innerhalb des Ortes">Umzug innerhalb des Ortes</ion-select-option>
                        <ion-select-option value="Prüfung im Ausbildungsberuf">Prüfung im Ausbildungsberuf</ion-select-option>
                        <ion-select-option value="Tod des Ehegatten oder Lebenspartnern">Tod des Ehegatten oder Lebenspartnern</ion-select-option>
                        <ion-select-option value="Tod des Kindes">Tod des Kindes</ion-select-option>
                        <ion-select-option value="Tod eines Eltern- oder Stiefelternteils">Tod eines Eltern- oder Stiefelternteils</ion-select-option>
                        <ion-select-option value="Tod eines Schwiegerelternteils">Tod eines Schwiegerelternteils</ion-select-option>
                        <ion-select-option value="eigene Eheschließung">eigene Eheschließung</ion-select-option>
                        <ion-select-option value="Geburt des eigenen Kindes">Geburt des eigenen Kindes</ion-select-option>
                        <ion-select-option value="Umzug außerhalb des Ortes">Umzug außerhalb des Ortes</ion-select-option>
                    </ion-select>

                </div>
                <!-- <div class="form-group xxx" *ngIf="special_leave">
                    <ion-select interface="popover" placeholder="{{'LEAVE_REQUEST.SLECIAL_LEAVE_REASON' | translate}}"
                        formControlName="special_leave_reason">
                        <ion-select-option [value]="option.value" *ngFor="let option of specialLeaveRegions">
                            {{option.label | translate}}
                        </ion-select-option>
                    </ion-select>
                </div> -->
                <div class="box-wrap">
                    <ion-row>
                        <ion-col size="6">
                            <h4>{{'LEAVE_REQUEST.FROM_DATE' | translate}}</h4>
                            <ion-item>
                                <ion-icon name="calendar-clear-outline"></ion-icon>
                                <ion-datetime displayFormat="DD MMM YYYY" max="2099-10-31" formControlName="from_date" placeholder="DD/MM/YYYY"></ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <h4>{{'LEAVE_REQUEST.TO_DATE' | translate}}</h4>
                            <ion-item>
                                <ion-icon name="calendar-clear-outline"></ion-icon>
                                <ion-datetime displayFormat="DD MMM YYYY" max="2099-10-31" formControlName="to_date" placeholder="DD/MM/YYYY"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="box-wrap">
                    <h4>{{'LEAVE_REQUEST.MESSAGE' | translate}}</h4>

                    <ion-item>
                        <ion-textarea formControlName="message" placeholder="{{'LEAVE_REQUEST.MESSAGE_PLACEHOLDER' | translate}}"></ion-textarea>
                    </ion-item>
                </div>
            </ion-list>
        </div>

        <div class="btn-full">
            <ion-button class="button-inner" type="submit" [disabled]="shouldDisable">{{'LEAVE_REQUEST.LEAVE_REQUEST' | translate}}
            </ion-button>
        </div>
        

    </form>
</ion-content>
