<ion-content>
    <div class="img-full">
        <img src="assets/imgs/login-img.png">
    </div>
    
    <div class="white-bg">
        <h4> {{'FORGOT.SET_PASSWORD' | translate}}</h4>
        <form method="POST" [formGroup]="form" (ngSubmit)="setNewPassword()">
            <ion-list>
                <ion-item>
                    <ion-input type="password" placeholder="{{'REGISTER.PASSWORD_PLACEHOLDER' | translate}}" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    </ion-input>
                </ion-item>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{'REGISTER.PASSWORD_ERR_MESSAGE' | translate}}</div>
                    <div *ngIf="f.password.errors.minlength">{{'REGISTER.PASSWORD_LENGTH_ERR' | translate}}</div>
                    <div *ngIf="f.password.errors.pattern">{{'REGISTER.PASSWORD_FORMATE_ERR' | translate}}</div>
                </div>
                <ion-item>
                    <ion-input type="password" placeholder="{{'REGISTER.PASSWORD_CNF_PLACEHOLDER' | translate}}" formControlName="password2" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }">
                    </ion-input>
                </ion-item>
                <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                    <div *ngIf="f.password2.errors.required">{{'REGISTER.PASSWORD_CNF_ERR_MESSAGE' | translate}}</div>
                </div>
            </ion-list>

            <div class="btn-forget ion-text-end">
                <ion-button type="button" (click)="redirectPage('login')">
                    {{'FORGOT.BACK_LOGIN' | translate}}
                </ion-button>
            </div>
            <ion-button type="submit">{{'FORGOT.RESET_LABEL' | translate}}
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </form>
    </div>
</ion-content>