<ion-tabs>
  <ion-tab-bar slot="button" #myTabBar id="myTabBar">
    <ion-tab-button tab="dashboard">
      <ion-label>{{'MENU.DASHBOARD' | translate}}</ion-label>
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="startingduty">
      <img src="assets/imgs/start-ic.png" alt="">
    </ion-tab-button>
    <ion-tab-button tab="logbook">
      <ion-label>{{'MENU.LOGBOOK' | translate}}</ion-label>
      <ion-icon name="reader-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>