<ion-content>
  <div class="img-full">
    <img src="assets/imgs/login-img.png">
</div>
  <div class="white-bg">
    <h4>{{'CHANGE_PASSWORD.CREATE_PASSWORD' | translate}}</h4>
    <ion-list>
      <ion-item>
        <ion-input type="password" placeholder="{{'CHANGE_PASSWORD.NEW_PASSWORD' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="{{'CHANGE_PASSWORD.CONFIRM_NEW_PASSWORD' | translate}}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="PageRoute('login')">{{'CHANGE_PASSWORD.CONTINUE' | translate}}</ion-button>
  </div>
</ion-content>