<ion-content>
    <div class="img-full">
        <img src="assets/imgs/login-img.png">
    </div>
    
    <div class="white-bg" *ngIf="!otpVerify">
        <h4>{{'FORGOT.PAGE_HEADING' | translate}}</h4>
        <form method="POST" [formGroup]="form" (ngSubmit)="forgotPassword()">
            <ion-list>
                <ion-item>
                    <ion-input placeholder="{{'REGISTER.EMAIL_ID_PLACEHOLDER' | translate}}" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    </ion-input>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">{{'REGISTER.EMAIL_ID_ERR_MESSAGE' | translate}}</div>
                        <div *ngIf="f.email.errors.email">{{'REGISTER.EMAIL_ID_INV_MESSAGE' | translate}}</div>
                    </div>
                </ion-item>
            </ion-list>

            <div class="btn-forget ion-text-end">
                <ion-button type="button" (click)="redirectPage('login')">
                    {{'FORGOT.BACK_LOGIN' | translate}}
                </ion-button>
            </div>
            <ion-button type="submit"> {{'FORGOT.RESET_LABEL' | translate}}
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </form>
    </div>
    <div class="white-bg otp_section" *ngIf="otpVerify">
        <div class="enter_otp" *ngIf="otpVerify">
            <h4>{{'FORGOT.VERIFY_OTP' | translate}}</h4>
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
        </div>
        <div class="err_msg">
            <p *ngIf="resMsg">{{resMsg}}</p>
        </div>
    </div>
</ion-content>